body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar.container {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar.container.logo {
width: 120px;
}

.navbar.container.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar.container.link {
  text-decoration: none;
  color: inherit;
}

.navbar.conainer.link.h6 {
font-size: 16px;
font-weight: 300;
}

.navbar.conainer.link.h6 {
cursor: pointer;
}

.products {
  display: flex;
  gap: 15px;
}

.product {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  background-color: rgb(142, 215, 191);
}