.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: center;


    h1 {
        text-align: center;
    }

    input {
        width: 400px;
        padding: 10px;
        border: 1px solid gray;
        justify-self: center;


    }

    .formButton {
        padding: 10px;
        background-color: rgb(255, 212, 71);
        color: white;
        font-weight: bold;
        cursor: pointer;
        width: 20%;
        // justify-self: center;
    }

    textarea{
        padding: 40px 30px;
    }
}