.navbar {
    grid-row: 1;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 85% 15%;
    position: relative;
    z-index: 9010;
}

.logo {
    grid-column: 2/3;
    width: 100%;
    height: 60%;
    align-self: center;
    box-sizing: border-box;

}

.logo>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.links {
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 60%;
}

.logout_span {
    cursor: pointer;
}


.links>* {
    color: black;
    text-decoration: none;
    font-size: x-large;
    align-self: center;
    width: 20%;
    height: 10%;
}

.cart_container{
    cursor: pointer;
    width: 40%;
    height: 40%;
    position: relative;
    margin-left: 5%;
    top: 19%;
    justify-self:normal;
    align-self:baseline;
}

.cart_container.active_cart{
    width: 40%;
    height: 40%;
    position: static;
    justify-self: normal;
    align-self:baseline;
}

.cart_amount{
    z-index: 2;
    width: 40%;
    text-align: center;
    position: relative;
    top: 65%;
    left: 35%;
    border-radius:50px;
    background-color: white;
}

.cart_logo{
    z-index: 1;
    width: 100%;
    height: 100%;
}


.search_div {
    align-self: center;
    grid-column: -2/-1;
    display: grid;
    width: 100%;
    height: 50%;
    grid-template-columns: 85% 15%;
}

.search_div>input {
    border: 3px solid black;
    border-radius: 300px;
    position: relative;
    width: 99%;
    height: 80%;
    top: 5%;
    font-size: x-large;
    color: black;
}

.search_div>button {
    width: 100%;
    background: url(http://localhost:8000/navbar/img?imgUrl=/home/hilma/study/Class_projects/supermarket/server/images/navbar/search_icon.png);
    background-size: 30%;
    background-position: left;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.search_result.active {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100%;
}

.search_result.active>p {
    z-index: 9009;
    background-color: aqua;

}

.search_result.not-active {
    display: none;
}

.result {
    width: 100%;
    display: flex;
    background-color: beige;
}

.result>img{
    width: 3%;
}